@page {
  size: A4 portrait;
}

:root {
  --width: 10%;
}

/* Base resets */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

button {
  font: inherit;
  padding: 0.5em 0.75em;
  margin: 0.25em;
}

/* Header */
.wrap {
  display: block;
  justify-items: center;
  max-width: 1000px;
  margin: auto;
}

header {
  text-align: center;
}

header h2 {
  font-weight: 400;
}

header address {
  font-style: normal;
}

/* Jobsheet */
.jobsheet {
  display: grid;
  grid-template-columns: 1fr calc(var(--width) * 2 + 2.5em);
  grid-template-rows: 2em 2em 2em;
  grid-column-gap: 0.75em;
  margin-top: 1em;
  width: 100%;
}

.jobsheet__company {
  grid-row: 1 / span 3;
  grid-column: 1;
  line-height: 1.65;
}

.jobsheet__company-divider {
  grid-row: 1 / span 3;
  grid-column: 1;
}

.jobsheet__company-divider .divider {
  position: relative;
  top: 0.1em;
  z-index: -1;
  height: 1.65em;
}

.jobsheet__number {
  grid-column: 2;
  grid-row: span 1;
}

.jobsheet__number > span:nth-child(2) {
  color: red;
  font-size: 1.5em;
  font-family: "Roboto Mono", "Roboto";
  letter-spacing: 0.05em;
}

.jobsheet__date {
  position: relative;
  top: -0.4em;
  grid-column: 2;
  grid-row: 3;
}

.jobsheet__date-divider {
  position: relative;
  top: -0.25em;
  grid-column: 2;
  grid-row: 3;
  z-index: -2;
}

.divider {
  border-bottom: 1px solid gray;
  height: 1.4em;
}

/* Table */
table,
tr,
th,
td {
  position: relative;
  page-break-inside: avoid;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

thead th {
  font-weight: 700;
}

th,
td {
  text-align: right;
  padding: 0.25em 0.5em;
  border: 1px solid gray;
  width: var(--width);
}

td input {
  text-align: right;
}

th:nth-child(3),
td:nth-child(3) {
  width: calc(100% - (4 * var(--width)));
  text-align: left;
}

td:nth-child(3) input {
  text-align: left;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  padding: 0;
}

td:nth-child(2) input,
td:nth-child(3) input,
td:nth-child(4) input {
  font: inherit;
  width: 100%;
  border: 0;
  padding: 0.25em 0.5em;
}

/* table + table:not(.tfoot) {
  position: relative;
  page-break-before: always;
} */

/* Nice positioning of footer */
.tfoot {
  position: relative;
  top: -1px;
}

.tfoot td:nth-child(4) {
  position: relative;
  top: 2px;
}

tfoot td:nth-child(1),
tfoot td:nth-child(2),
tfoot td:nth-child(3),
tfoot td:nth-child(4) {
  border: 0;
}

tfoot td:nth-child(4),
tfoot td:nth-child(5) {
  padding: 0.25em 0.5em;
}

.checks {
  position: relative;
  top: -5em;
  z-index: -1;
}

.checks__confirmation {
  font-size: 0.9em;
}

.checks__signature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  grid-gap: 5em;
  margin-top: 2.1em;
}

.checks__signature > * {
  font-size: 0.9em;
  padding-top: 0.1em;
  border-top: 1px solid black;
}

@media print {
  html {
    font-size: 13px;
  }
  .print-hide {
    display: none !important;
  }
}

/* NOTE TO SELF. CREATE MULTIPLE TABLES UP TO 25 ROWS EACH FOR PROPER BREAKS */
/* REMEMBER THE FREAKING RECEIVED SIGNATURE THINGS */
